---
import HelloReact from "../components/HelloReact";
import HelloSvelte from "../components/HelloSvelte.svelte";
import HelloVue from "../components/HelloVue.vue";
import HelloMdx from "../components/HelloMdx.mdx";
import Panel from "../components/Panel.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Panel title="Mohammad" icon="😊">
      <div>I am Programmer!</div>
    </Panel>
	<h1>Svelte</h1>
	<HelloSvelte client:load/>
    <h1>Vue</h1>
    <HelloVue client:visible/>
    <h1>React</h1>
    <HelloReact client:visible />
    <!-- <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <h1>React</h1>
    <HelloReact client:visible/> -->
	<h1>MDX</h1>
	<HelloMdx/>
  </main>
</Layout>

<style></style>
